{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="well text-center"><h5><b>Периоды ремонтов тепловозов. Единица измерения: сутки</b></h5></div>
                <div class="jumbotron p-3">
                    <h2>Управление <b>моделями</b>  <button type="button"  class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Добавить новую модель</button> </h2>

                    {% include "auxiliary_templates/loco_model_table.html" %}

                </div>

                    {% include "auxiliary_templates/loco_model_table_pagination.html" %}

                    {% include "auxiliary_templates/modal_add_model.html" %}
                    
            </div>
        </div>
    </div>
{% endblock %}
